html {
    scroll-behavior: smooth;
}

body {
  background-image: url("../images/bg.jpg");
  background-repeat: repeat;
  background-size: cover;

}


/* header section*/
header .logo-div{
    display: block;
    position: relative;
    height: 60px;
    padding: 10px;
    background-color: black;
}

header .logo-div img {
    position: absolute;
    bottom: 4px;
    height: 30px;
}


header .header-bar {
    display: block;
    position: relative;
    width: 100%;
    height: 225px;
    background-image: url("../images/header-bar.jpg");
    background-repeat: repeat;
    background-color: #cccccc;

}

/*avatar section*/
header #avatar {
    display: block;
    position: absolute;
    top: 30px;
    left: 70px;
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 50%;
    background: black;
    background-image: url("../images/avatar/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 

}

header #profile-name {

    display: block;
    position: absolute;
    padding: 10px;
    margin: 10px;
    bottom: 15px;
    left: 250px;
    background-color: white; 
    border-radius: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    opacity: 0.75;
}


/*header subtitle*/
header #subtitle {

    display: block;
    position: absolute;
    padding: 10px;
    margin: 10px;
    bottom: 15px;
    right: 50px;
    background-color: white; 
    border-radius: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    opacity: 0.75;
}


/* navagation bar */
header nav {
    display: block;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

    text-align: center;
}


header nav ul {
    display: flex;
    list-style-type: none;
}


header nav ul li {
    flex: 1;
    white-space: nowrap;


}

header nav ul li:hover {
  background:#373737;
  border-left: 1px solid white;
  border-right: 1px solid white;
}



header nav a {
  display: block;
  width: 100%;  
  color: #ffffff;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
header nav ul li:hover a {

  text-decoration: underline;
}


/*main section*/
main {
    padding: 35px;
    margin-top: 50px;
}



/*content section common css*/
.content-section {

    display: block;
    position: relative;
    width: 100%;
    max-width: 1500px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.70);
    font-family:  "Arial";
    font-size: 20px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 55px;
    margin-bottom: 100px;
}

.content-title {

    display: block;
    position: absolute;
    left: 40px;
    top: -50px;
    width: 230px;
    height: 63px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.7);
    transform: skew(-30deg);
    font-family:  'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color:rgb(97, 97, 97);
    padding: 20px;
}


/*about me section*/
#about-me {
    
    border-top: 1px solid rgb(11, 77, 143); 
    border-bottom: 1px solid rgb(11, 77, 143); 
    padding: 50px 20px 40px 60px;
}


#about-me #about-me-title {
    border-top: 1px solid rgb(11, 77, 143); 
    border-bottom: 1px solid rgb(11, 77, 143); 
    border-left: 1px solid rgb(190, 224, 255); 
    border-right: 1px solid rgb(190, 224, 255); 
}



/*work section*/
#work {
    border-top: 1px solid rgb(184, 41, 134); 
    border-bottom: 1px solid rgb(184, 41, 134); 
}


#work #work-title {
    border-top: 1px solid rgb(184, 41, 134); 
    border-bottom: 1px solid rgb(184, 41, 134); 
    border-left: 1px solid rgb(255, 235, 248); 
    border-right: 1px solid rgb(255, 235, 248); 
}



#work .workapp {
    display: flex;
    flex-wrap: wrap; 
    padding: 10px;
  }
  


.workapp-child {
    display: inline-block;
    font-family: "Open Sans", Arial;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 12px;
    background-repeat: repeat;
    background-color: black;
    opacity: 0.95;
  }




  .workapp-child a {
    display: block;
    padding: 10px 10px 60px 10px;
    font-size: 25px;
    text-align: left;

    border-radius: 10px;
    border: 1px solid black;
  }


  

  .workapp-child a div {

    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 20px;
    border-radius: 10px;
    opacity: 0.9;
  }

  .workapp-child:hover {
    opacity: 1;
  }
  

  .workapp-child:hover a div{
    box-shadow: 3px 3px 10px #ffffff;
  }
  
  .workapp-child a div span {
    font-size: 14px;
  }
  

  .workapp-child:first-child {
    width: 100%;
  }
  
  .workapp-child:not(:first-child) {
    flex: 1;
    min-width: 300px;
  }




  /*workapp background*/
  #workapp1 {
    background-image: url("../images/workapp1.jpg");
  }

  #workapp1 a:hover {
    box-shadow: 7px 7px 20px #ff7575;
  }

  #workapp2 {
    background-image: url("../images/workapp2.jpg");
  }

  #workapp2 a:hover {
    box-shadow: 7px 7px 20px #8ed8ff;
  }

  #workapp5 {
    background-image: url("../images/workapp5.jpg");
  }

  #workapp5 a:hover {
    box-shadow: 7px 7px 20px #2587ff;
  }


  #workapp6 {
    background-image: url("../images/workapp6.jpg");
  }
  
  #workapp6 a:hover {
    box-shadow: 7px 7px 20px #19b811;
  }


  #workapp7 {
    background-image: url("../images/workapp7.jpg");
  }

  #workapp7 a:hover {
    box-shadow: 7px 7px 20px #951bdc;
  }


  #workapp8 {
    background-image: url("../images/workapp8.jpg");
  }

  #workapp8 a:hover {
    box-shadow: 7px 7px 20px #e77ba9;
  }


  #workapp9 {
    background-image: url("../images/workapp9.jpg");
  }

  #workapp9 a:hover {
    box-shadow: 7px 7px 20px #eb813b;
  }





/*contact me section*/
#contact-me-content {

    display: flex;
    flex-wrap: wrap; 
}

#contact-me-content > .contact-me-div {

    flex: 2;

    padding: 10px;
}

#contact-me-content h2 {

    font-size: 25px;
}

#contact-me-content h3 {

    font-size: 18px;
}

#contact-me-content input {

  font-size: 18px;
  padding: 5px;
}


#contact-me {
    border-top: 1px solid rgb(25, 161, 22); 
    border-bottom: 1px solid rgb(25, 161, 22);
    
    padding: 50px 20px 40px 60px;
}


#contact-me #contact-me-title {

    border-top: 1px solid rgb(25, 161, 22); 
    border-bottom: 1px solid rgb(25, 161, 22); 
    border-left: 1px solid rgb(233, 255, 233); 
    border-right: 1px solid rgb(233, 255, 233); 

}





/* resume section */
#resume {
    border-top: 1px solid rgb(190, 98, 22); 
    border-bottom: 1px solid rgb(190, 98, 22); 

    padding: 50px 20px 40px 60px;
}


#resume #resume-title {

    border-top: 1px solid rgb(190, 98, 22); 
    border-bottom: 1px solid rgb(190, 98, 22); 
    border-left: 1px solid rgb(255, 237, 222); 
    border-right: 1px solid rgb(255, 237, 222); 

}


#resume-content h2 {

    font-size: 25px;
}


#resume-div img {

    width: 150px;
}




/* footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


.footer h2 {
    font-size: 20px;
}




@media screen and (max-width: 768px) {
    
    /*header subtitle in different view*/
    header #subtitle {

        right: 10px;
        bottom: 155px;
        font-size: 16px;
    }


    /*avatar section*/
    header #avatar {
        top: 40px;
        left: 50px;
        width: 190px;
        height: 190px;
    }

    header #profile-name {
        left: 210px;
    }
    


    /*about me section*/
    #about-me {

        padding-left: 30px;
    }

}
